version: '3.9'
services:
  nginx:
    image: nginx:1.21
    container_name: ${COMPOSE_PROJECT_NAME}_nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - './:/var/www'
      - './docker/nginx/nginx.conf:/etc/nginx/nginx.conf'
      - './docker/nginx/sites-available/:/etc/nginx/sites-available'
    working_dir: /var/www
    depends_on:
      - app
    networks:
      - app-network

  app:
    build:
      context: './docker/app'
      args:
        UID: ${DOCKER_UID}
        GID: ${DOCKER_GID}
    container_name: ${COMPOSE_PROJECT_NAME}_app
    restart: unless-stopped
    ports:
        - "5173:5173"
    volumes:
      - './:/var/www'
      - './docker/app/php-ini-overrides.ini:/usr/local/etc/php/conf.d/40-custom.ini'
    environment:
      XDEBUG_MODE: ${XDEBUG_MODE:-off}
      XDEBUG_CONFIG: client_host=host.docker.internal idekey=PHPSTORM start_with_request=no
      PHP_IDE_CONFIG: serverName=Docker
    extra_hosts:
      - host.docker.internal:host-gateway
    working_dir: /var/www
    networks:
      - app-network

  redis:
    image: redis
    container_name: ${COMPOSE_PROJECT_NAME}_redis
    restart: unless-stopped
    ports:
      - '6382:6379'
    volumes:
      - 'redis_data:/data'
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  redis_data:
    name: ${COMPOSE_PROJECT_NAME}_redis_data
    driver: local
